.wrapper {
    height: 40px;

    border-radius: 2px;
    border: 1px solid #ffffff;

    font-size: 13px;
    font-weight: 900;
    line-height: 14px;
    text-align: center;
    color: white;

    padding: 0 26px;

    display: flex;
    align-items: center;
    justify-content: center;
}
