.wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
}

.wrapper > h2 {
    margin-bottom: 32px;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.row.small {
    justify-content: flex-start;
    gap: 80px;
}

.row.allPosts {
    flex-direction: column;
    gap: 40px;
}

@media (max-width: 1023px) {
    .wrapper {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .wrapper > h2 {
        margin-bottom: 21px;
    }

    .row {
        flex-direction: column;
    }

    .row.small {
        gap: 20;
    }
}
