.wrapper {
    padding-top: 60px;
    padding-bottom: 60px;

    > h2 {
        margin-bottom: 32px;
    }
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

@media (max-width: 1023px) {
    .wrapper {
        padding-top: 30px;
        padding-bottom: 30px;

        > h2 {
            margin-bottom: 21px;
        }
    }
    .row {
        flex-direction: column;
    }
}
