.wrapper {
    max-width: 1240px;
    height: 76px;

    margin: 0 auto;
    padding: 18px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    left: 20px;
    right: 20px;
    top: 20px;

    z-index: 20;
}

.buttons {
    display: flex;
    gap: 10px;
}

@media (max-width: 1023px) {
    .wrapper {
        left: 0;
        right: 0;
        top: 0;
    }

    .buttons {
        display: none;
    }
}
