.wrapper {
    padding-top: 30px;
    padding-bottom: 60px;
}

.wrapper > h2 {
    margin-bottom: 32px;
}

.info {
    max-width: 810px;
    width: 100%;
    border-radius: 2px;
    border: 4px solid #e2ecf7;
    margin: 0 auto;
}

.infoTop,
.infoBottom {
    padding: 60px;
}

.infoBottom {
    background-color: #e2ecf7;
}

.infoTop > h2,
.infoBottom > h2 {
    margin-bottom: 16px;
}

.infoTop > p,
.infoBottom > p {
    font-size: 18px;
    font-weight: 500;
    line-height: 21.78px;
    color: #000000;
}

@media (max-width: 1023px) {
    .wrapper {
        padding-top: 0;
        padding-bottom: 30px;
    }

    .wrapper > h2 {
        margin-bottom: 21px;
    }

    .infoTop,
    .infoBottom {
        padding: 20px;
    }

    .infoTop > h2,
    .infoBottom > h2 {
        margin-bottom: 8px;
    }

    .infoTop > p,
    .infoBottom > p {
        font-size: 14px;
        line-height: 17px;
    }

    .infoBottom > button {
        width: 100%;
    }
}
