.wrapper {
    position: relative;
}

.select {
    background: #e2ecf7;
    height: 64px;
    display: flex;
    align-items: center;
    border-radius: 2px;

    padding: 10px 0;
}

.select label[data-part='label'] {
    display: none;
}

.select div[data-part='control'] {
    width: 100%;
}

.select div[data-part='control'] > button {
    border: none;
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 700;
}

.indicator {
    margin-right: 20px;
    transform: rotate(180deg);
}
