.wrapper {
    display: flex;
    gap: 20px;
}

.listCol {
    display: flex;
    flex-direction: column;
    gap: 2px;

    flex: 0 0 242px;
    max-width: 242px;
}

.contentCol {
    flex: 1 0 calc(100% - 242px - 20px);
}

.button {
    height: 50px;
    width: 100%;
    padding-left: 18px;
    padding-right: 18px;

    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;

    color: black;

    position: relative;

    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.button::after {
    content: '';
    background: #f3b919;
    height: 10px;
    width: 10px;

    position: absolute;
    right: 20px;

    opacity: 0;
}

.button[aria-selected='true'] {
    font-weight: 700;
    color: white;
    background: #0d448d;
}

.button[aria-selected='true']::after {
    opacity: 1;
}

@media (max-width: 1023px) {
    .wrapper {
        flex-direction: column;
        gap: 12px;
    }

    .listCol {
        flex-direction: row;

        border-bottom: 1px solid #e2ecf7;

        max-width: calc(100% + 32px);
        flex: 0 0 calc(100% + 32px);

        margin-left: -16px;
        margin-right: -16px;
        padding: 0 16px;
    }

    .contentCol {
        flex: 0 0 100%;
    }

    .button {
        height: 40px;
        width: 100%;
        padding-left: 0;
        padding-right: 0;

        font-size: 9px;
        font-weight: 400;
        line-height: 10px;

        border-radius: 2px;
        justify-content: center;
    }

    .button::after {
        content: '';
        height: 2px;
        width: auto;
        right: 0;
        left: 0;
        bottom: 0;
    }
}
