.wrapper {
    padding-top: 80px;
    padding-bottom: 60px;
}

.wrapper > h2 {
    margin-bottom: 25px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 21px;
}

@media (max-width: 1023px) {
    .row {
        gap: 16px;
        justify-content: center;
    }

    .row > img {
        width: auto;
        max-width: 100px;
        height: auto;
    }
}
